<ion-header>
  <ion-toolbar>
    <ion-title> {{ room.name }} </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToRoom()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="segment === 'active'" slot="end">
      <ion-button (click)="sortTaskItem()">
        <ion-icon *ngIf="!isReorder" name="swap-vertical-sharp"></ion-icon>
        <ion-icon *ngIf="isReorder" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!isReorder">
    <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="active">
        <ion-label>Active</ion-label>
      </ion-segment-button>
      <ion-segment-button value="done">
        <ion-label>Done</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="segment === 'active'">
  <ion-list>
    <ion-reorder-group
      (ionItemReorder)="reorderTask($event)"
      [disabled]="!isReorder"
    >
      <ion-card *ngFor="let item of taskActiveItems">
        <ion-card-content
          class="task-card-content"
          (click)="navigateToTaskDetail(item, segment)"
        >
          <ion-reorder *ngIf="isReorder">
            <ion-item class="background-item">
              <ion-avatar slot="start">
                <img
                  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
                />
              </ion-avatar>
              <ion-label>
                <h2 class="task-title">{{ item.title }}</h2>
                <p>{{item.description}}</p>
              </ion-label>
            </ion-item>
          </ion-reorder>
          <ion-item *ngIf="!isReorder" class="background-item">
            <ion-avatar slot="start">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <ion-label *ngIf="!isReorder">
              <h2 class="task-title">{{ item.title }}</h2>
              <p>{{item.description}}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
        <ion-row *ngIf="!isReorder" class="cardfooter">
          <ion-col>
            <ion-button
              (click)="addCommentToTaskDetail(item)"
              fill="clear"
              color="primary"
            >
              <ion-icon name="chatbubbles-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="doneTask(item)" fill="clear" color="primary">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              (click)="presentConfirmDelete(item)"
              fill="clear"
              color="danger"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-reorder-group>
  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="presentAddTask()">
    <ion-icon name="add-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content *ngIf="segment === 'done'">
  <ion-list>
    <ion-card *ngFor="let item of taskDoneItems">
      <ion-card-content
        class="task-card-content"
        (click)="navigateToTaskDetail(item, segment)"
      >
        <ion-item class="background-item">
          <ion-avatar slot="start">
            <img
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
          </ion-avatar>
          <ion-label>
            <h2 class="task-title">{{ item.title }}</h2>
            <p>{{item.description}}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
