<ion-header>
  <ion-toolbar>
    <ion-title> {{ room.name }} </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToRoom()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="sortTaskItem()">
        <ion-icon *ngIf="isReorder" name="swap-vertical-sharp"></ion-icon>
        <ion-icon *ngIf="!isReorder" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group
      (ionItemReorder)="reorderTask($event)"
      [disabled]="isReorder"
    >
      <ion-card *ngFor="let item of taskItems">
        <ion-card-content (click)="navigateToTaskDetail(item)">
          <ion-reorder *ngIf="!isReorder">
            <ion-label>
              <h2 class="task-title">{{ item.title }}</h2>
              <p>{{item.description}}</p>
            </ion-label>
          </ion-reorder>
          <ion-label *ngIf="isReorder">
            <h2 class="task-title">{{ item.title }}</h2>
            <p>{{item.description}}</p>
          </ion-label>
          <ion-button fill="clear" color="danger">
            <ion-icon slot="start" name="share-alt"></ion-icon>
            Share
          </ion-button>
          <ion-button fill="clear" color="primary">
            <ion-icon slot="start" name="share-alt"></ion-icon>
            Share
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-reorder-group>
  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="presentAddTask()">
    <ion-icon name="add-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>
