.task-title {
    font-weight: 500;
    font-size: large;
}

.card-footer {
    text-align: center;
    background-color: paleturquoise;
}

.button-center {
    text-align: center;
    margin: 0;
}

.card-background {
    --background: '#1c1c1d';
}