<ion-header>
  <ion-toolbar>
    <ion-title> {{ room.name }} </ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="!isReorder" (click)="goBackToRoom()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="segment === 'active'" slot="end">
      <ion-button *ngIf="!isReorder" (click)="navigateToRoomMember()">
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!isReorder" (click)="activeSortTaskItem()">
        <ion-icon name="swap-vertical-sharp"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isReorder" (click)="activeSortTaskItem()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!isReorder">
    <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="active">
        <ion-label>Active</ion-label>
      </ion-segment-button>
      <ion-segment-button value="done">
        <ion-label>Done</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<!-- Segment: Activeの場合 -->
<ion-content *ngIf="segment === 'active'">
  <ion-list>
    <ion-reorder-group
      (ionItemReorder)="reorderTask($event)"
      [disabled]="!isReorder"
    >
      <ion-card *ngFor="let item of taskActiveItems">
        <ion-reorder (click)="navigateToTaskDetail(item, segment, isReorder)">
          <ion-card-header>
            <ion-card-subtitle>
              {{ item.scheduleDate | date: 'yyyy/MM/dd' }} まで
            </ion-card-subtitle>
            <ion-card-title> {{ item.title }} </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item class="card-background" lines="none">
              <p>{{ item.description }}</p>
            </ion-item>
          </ion-card-content>
        </ion-reorder>

        <!-- ボタン部分 -->
        <ion-button
          *ngIf="!isReorder"
          expand="full"
          class="button-center"
          (click)="presentDoneTaskAlert(item)"
          color="primary"
        >
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <!-- /ボタン部分 -->
      </ion-card>
    </ion-reorder-group>
  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" *ngIf="isCheckFabButton">
  <ion-fab-button (click)="presentAddTask()">
    <ion-icon name="add-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- Segment: DONEの場合 -->
<ion-content *ngIf="segment === 'done'">
  <ion-list>
    <ion-card
      *ngFor="let item of taskDoneItems"
      (click)="navigateToTaskDetail(item, segment, isReorder)"
    >
      <ion-card-header>
        <ion-card-subtitle>
          {{ item.scheduleDate | date: 'yyyy/MM/dd' }} まで
        </ion-card-subtitle>
        <ion-card-title> {{ item.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="card-background" lines="none">
          <p>{{item.description}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
<!-- /Segment: DONEの場合 -->
