.list-header {
    margin-top: 5px;
}

.card-margin {
    margin: auto;
}

.card-background {
    --background: '#1c1c1d';
}

.task-card-content {
    padding-top: 30px;
    padding-bottom: 10px
}

.button-center {
    text-align: center;
    margin: 0;
}