<ion-header>
  <ion-toolbar>
    <ion-title>担当タスク</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-header">
    <ion-card *ngFor="let item of ownTaskItems" class="card-margin">
      <ion-card-content
        class="task-card-content"
        (click)="navigateToTaskDetail(item)"
      >
        <ion-item class="card-background" lines="none">
          <ion-label>
            <h2 class="task-title">TEST Title</h2>
            <p>TEST Describe</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
