<ion-header>
  <ion-toolbar>
    <ion-title>個人タスク</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-header">
    <ion-item-group>
      <ion-item-divider color="secondary">
        これで一旦は完成かな
      </ion-item-divider>
      <ion-card class="card-margin">
        <ion-card-content class="task-card-content">
          <ion-item class="card-background" lines="none">
            <ion-avatar slot="start">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <ion-label>
              <h2 class="task-title">TEST Title</h2>
              <p>TEST Describe</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-margin">
        <ion-card-content class="task-card-content">
          <ion-item class="card-background" lines="none">
            <ion-avatar slot="start">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <ion-label>
              <h2 class="task-title">TEST Title</h2>
              <p>TEST Describe</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-item-divider color="secondary">
        これで一旦は完成かな
      </ion-item-divider>
      <ion-card class="card-margin">
        <ion-card-content class="task-card-content">
          <ion-item class="card-background" lines="none">
            <ion-avatar slot="start">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <ion-label>
              <h2 class="task-title">TEST Title</h2>
              <p>TEST Describe</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>
</ion-content>
