<ion-header>
  <ion-toolbar>
    <ion-title>新規登録</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToLogin()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm">
    <ion-list>
      <ion-item>
        <ion-label for="name" position="stacked">氏名</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="email" position="stacked">メールアドレス</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="passwordform" position="stacked">パスワード</ion-label>
        <ion-input type="password" formControlName="passwordform"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="confirmPasswordform" position="stacked"
          >パスワード（確認）</ion-label
        >
        <ion-input
          type="password"
          formControlName="confirmPasswordform"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div class="register-button">
    <ion-button
      (click)="onSubmit()"
      [disabled]="signUpForm.invalid"
      expand="block"
      >登録</ion-button
    >
  </div>
</ion-content>
