<ion-header>
  <ion-toolbar>
    <ion-title>設定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar class="profile-icon">
      <img src="../../../assets/svg/anonymous.svg" />
    </ion-avatar>
    <ion-label class="margin-left">
      <h2>{{ user?.username }}</h2>
      <p>{{ user?.positionName }}</p>
      <a (click)="presentEditModal()">編集</a>
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-content>
      <h3 class="margin-bottom">詳細</h3>
      <ion-list>
        <ion-item lines="none"> 運営について </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-item
    class="logout-line"
    lines="none"
    color="danger"
    (click)="confirmLogout()"
    >ログアウト</ion-item
  >
</ion-content>
