<ion-header>
  <ion-toolbar>
    <ion-title>設定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar class="profile-icon">
      <img *ngIf="currentUserIcon" [src]="currentUserIcon" />
      <img *ngIf="!currentUserIcon" src="../../../assets/img/undefined.jpeg" />
    </ion-avatar>
    <ion-label class="margin-left">
      <h2>{{ currentUser?.username }}</h2>
      <p>{{ currentUser?.positionName }}</p>
      <a (click)="presentEditModal()">編集</a>
    </ion-label>
  </ion-item>
  <ion-item class="setting-line" (click)="navigateToMemberList()">
    メンバー
  </ion-item>
  <ion-item class="setting-line"> 運営者について </ion-item>
  <ion-item class="setting-line" (click)="navigateToCreateCompany()"
    >Companyの追加(本当はLPから)</ion-item
  >
  <ion-item
    class="logout-line"
    lines="none"
    color="danger"
    (click)="confirmLogout()"
    >ログアウト</ion-item
  >
</ion-content>
