<ion-header>
  <ion-toolbar>
    <ion-title>設定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar class="profile-icon">
      <img [src]="user?.iconImage" />
    </ion-avatar>
    <ion-label class="margin-left">
      <h2>{{ user?.username }}</h2>
      <p>{{ user?.positionName }}</p>
      <a (click)="presentEditModal()">編集</a>
    </ion-label>
  </ion-item>
  <ion-item class="logout-line"> 運営者について </ion-item>
  <ion-item
    class="logout-line"
    lines="none"
    color="danger"
    (click)="confirmLogout()"
    >ログアウト</ion-item
  >
</ion-content>
