<ion-header>
  <ion-toolbar>
    <ion-title>メンバー</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToSetting()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentInviteMembers()">招待</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="検索"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let member of companyMembers"
      (click)="presentMemberDetail(member)"
    >
      <ng-container *ngIf="member.username === null && !member.registered">
        <ion-label>{{member.email}}</ion-label>
        <ion-note slot="end">招待中</ion-note>
      </ng-container>
      <ng-container>
        <ion-label>{{ member.username }}</ion-label>
        <ion-note
          *ngIf="member.id === currentUser.id"
          slot="end"
          color="secondary"
          >本人</ion-note
        >
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>
