<ion-header [translate]="true">
  <ion-toolbar>
    <ion-title>メンバーの追加</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      showCancelButton="focus"
      cancelButtonText="キャンセル"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let member of members">
    <ion-item>
      <ion-label>{{ member.username }}</ion-label>
      <ion-checkbox slot="start" class="member-check"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
