<ion-content class="ion-padding">
  <div class="center">
    <div class="center-text">
      <h4>Wantto</h4>
    </div>
    <form [formGroup]="loginForm">
      <ion-item class="item-padding">
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="item-padding">
        <ion-label position="stacked">パスワード</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button
        class="padding-button"
        (click)="login()"
        expand="block"
        [disabled]="loginForm.invalid"
      >
        ログイン
      </ion-button>
    </form>
    <!-- <div class="center-text">
      <a (click)="navigateToSignUp()">新規登録</a>
    </div> -->
  </div>
</ion-content>
