<ion-header>
  <ion-toolbar>
    <ion-title>企業アカウントの作成</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToSetting()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createCompanyForm" class="form-content">
    <ion-list>
      <ion-item>
        <ion-label position="stacked"
          >会社名<ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input type="text" formControlName="companyName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >担当者名<ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input type="text" formControlName="officerName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >担当者Email<ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input type="email" formControlName="officerEmail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >パスワード<ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input
          type="password"
          formControlName="officerPassword"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >パスワード(確認用)<ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input
          type="password"
          formControlName="officerPasswordConfirm"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- <ion-button
      expand="full"
      [disabled]="createCompanyForm.invalid"
      (click)="registerCompany()"
      >登録</ion-button
    > -->
    <ion-button expand="full" (click)="registerCompany()">登録</ion-button>
  </ion-toolbar>
</ion-footer>
