.card-content {
    text-align: center;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    // margin-left: auto;
    // margin-right: auto;
}

.card-css {
    margin-top: 40%;
    // min-height: 10em;
}