<ion-header [translate]="true">
  <ion-toolbar>
    <ion-title>メンバーの追加</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="arraySelectedPersonId.length === 0"
        (click)="addPersonToTask()"
        >追加</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      (ionCancel)="cancelSearch($event)"
      (ionClear)="clearSearch($event)"
      (ionChange)="inputSearch($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let member of members">
    <!-- <ion-item *ngIf="member.registered"> -->
    <ion-item *ngIf="member.username">
      <ion-label>{{ member.username }}</ion-label>
      <ion-checkbox
        (ionChange)="changeCheckUser(member)"
        [checked]="member.checked"
        slot="start"
        class="member-check"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
