<ion-header>
  <ion-toolbar>
    <ion-title>メンバー</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToRoom()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="withdrawalFromAnyRoom()">退出</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item (click)="addMemberOnRoom()">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label>メンバーの追加</ion-label>
  </ion-item>
  <ion-list>
    <ion-item-divider>
      <ion-label>メンバー</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let member of roomMembers">
      <ion-label>
        <h2>{{ member.username}}</h2>
        <p>{{ member.positionName}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
