<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ viewContent[role].title }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="roomItemGroup">
    <ion-item>
      <ion-label position="stacked">Want to</ion-label>
      <ion-input
        formControlName="nameItem"
        placeholder="〇〇したい"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">詳細</ion-label>
      <ion-textarea autoGrow="true" formControlName="descriptionItem">
      </ion-textarea>
    </ion-item>

    <ion-button
      (click)="createItem()"
      [disabled]="nameItem.invalid"
      expand="full"
      >{{ viewContent[role].button }}
    </ion-button>
  </form>
</ion-content>
