.my-custom-class .action-sheet-group {
    background: #e5e5e5;
}

.card-background {
    --background: '#1c1c1d';
}

.end-done-icon {
    margin-left: auto;
    margin-right: 50px;
}

.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    resize: none;
    padding-left: 30px; // padding-right: 10px;
    --background: '#1c1c1d';
}

.msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}

.card-title {
    font-size: medium;
}

.center-align {
    margin-top: auto;
}

.text-right {
    text-align: right;
}

.size-icon-col {
    --ion-grid-width: 20px
}

.width-height {
    width: 75px;
    height: 75px;
    margin: 2px;
    position: relative;
}

/*ボタンを重ねるためのブロック要素*/
.deleteButtonContainer {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
}

/*各サムネイル画像に重ねる削除ボタン*/
.deleteButton {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    line-height: 9px;
    vertical-align: middle;
    color: grey;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 3px;
}

.label-wrap {
    max-width: fit-content;
    flex: none;
}