<ion-header>
  <ion-toolbar>
    <ion-title> {{ taskDetail?.title }} </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToRoom()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet(taskDetail)">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-icon
        *ngIf="taskDetail?.status > 0"
        size="large"
        name="checkmark-circle"
        color="secondary"
      ></ion-icon>
      <ion-item class="card-background" lines="none">
        <ion-text>{{ taskDetail?.description}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- ここから下はCommentとMessage -->
  <ion-list>
    <ion-list-header>
      <ion-label>コメント</ion-label>
    </ion-list-header>
    <ion-item> MEssage </ion-item>
    <ion-item> MEssage </ion-item>
  </ion-list>
</ion-content>
