<ion-header>
  <ion-toolbar>
    <ion-title> {{ task?.title }} </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToRoom()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="constent">
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
  </div>
  <p #comment>
    ここまでスクロールをしてほしいのだが、なかなかできない。
  </p>
  <div id="content-2">
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
    <div>ダミーなもの</div>
  </div>
</ion-content>
