.my-custom-class .action-sheet-group {
    background: #e5e5e5;
}

.card-background {
    --background: '#1c1c1d';
}

.end-done-icon {
    margin-left: auto;
    margin-right: 50px;
}

.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    resize: none;
    padding-left: 30px; // padding-right: 10px;
    --background: '#1c1c1d';
}

.msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}

.card-title {
    font-size: medium;
}

.center-align {
    margin-top: auto;
}

.text-right {
    text-align: right;
}

.size-icon-col {
    --ion-grid-width: 20px
}

.width-height {
    width: 75px;
    height: 75px;
    margin: 2px;
}