<ion-header>
  <ion-toolbar>
    <ion-title>会社を本登録する</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="companyForm" class="form-content">
    <ion-list>
      <ion-list-header>
        <ion-label>基本情報</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">会社名</ion-label>
        <ion-input formControlName="companyName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">会社のメールアドレス</ion-label>
        <ion-input formControlName="companyEmail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">会社の電話番号</ion-label>
        <ion-input formControlName="companyTel"></ion-input>
      </ion-item>

      <ng-container formArrayName="companyOfficer">
        <ion-list-header>
          <ion-label>担当者</ion-label>
          <ion-button (click)="addOfficerMember()">追加</ion-button>
        </ion-list-header>
        <ng-container
          *ngFor="let officerGroup of officerArray.controls; let i = index"
        >
          <ng-container [formGroupName]="i">
            <ion-item-divider>
              <ion-buttons slot="start">
                <ion-button
                  *ngIf="i!=0"
                  color="danger"
                  (click)="removeOfficer(i)"
                >
                  <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-label> {{i+1}} 人目 </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">担当者名</ion-label>
              <ion-input formControlName="officerName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">担当者Email</ion-label>
              <ion-input formControlName="officerEmail"></ion-input>
            </ion-item>
          </ng-container>
        </ng-container>
      </ng-container>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      [disabled]="companyForm.invalid"
      (click)="registerCompany()"
      >次へ</ion-button
    >
  </ion-toolbar>
</ion-footer>
