<ion-header>
  <ion-toolbar>
    <ion-title>ユーザーの確認</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-margin">
  <form [formGroup]="confirmForm">
    <ion-item>
      <ion-label position="stacked">確認コード</ion-label>
      <ion-input
        required
        type="text"
        formControlName="confirmNumber"
      ></ion-input>
    </ion-item>
    <ion-button type="submit" (click)="confirmSignUp()" expand="block"
      >確認</ion-button
    >
  </form>

  <div class="center-signup">
    <a (click)="reSendSignUp()">再度送る</a>
  </div>
</ion-content>
