<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>タスクの追加</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskItemForm">
    <ion-item>
      <ion-label position="floating">名前</ion-label>
      <ion-input formControlName="nameItem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">説明</ion-label>
      <ion-input formControlName="descriptionItem"></ion-input>
    </ion-item>
  </form>
</ion-content>
