<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ room.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskItemForm">
    <ion-item>
      <ion-label position="floating">名前</ion-label>
      <ion-input formControlName="nameItem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">説明</ion-label>
      <ion-input formControlName="descriptionItem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">期限</ion-label>
      <ion-datetime
        (ionChange)="changeDate()"
        displayFormat="YYYY/MM/DD"
        displayTimezone="Asia/Tokyo"
        cancelText="キャンセル"
        dayNames="曜日"
        formControlName="scheduleDateItem"
        doneText="完了"
        [min]="minYear"
        [max]="maxYear"
        [value]="currentIsoString"
      ></ion-datetime>
    </ion-item>

    <ion-button
      (click)="createTaskItem()"
      [disabled]="taskItemForm.invalid"
      expand="full"
    >
      追加
    </ion-button>
  </form>
</ion-content>
